#### Given the participants` score sheet for your university sports day, you are ewquired to findthe runner-up score, you are given scores store them in a list and find the score of the runner-up.
#### Input format
the first line contains total no .of contestants . The second line contains an array of integers eacch separated by a space
constrains
2<=a<=100
#### Output format
print the runner-up score
sample input 0
5
2 3 6 6 5 
sample output 0
5

In [2]:
a = int(input("Enter total no .of contestants: "))
scores = list(map(int, input().split()))
unique_scores = list(set(scores))
unique_scores.sort()
print(unique_scores[-2])

7

#### dictionares having names and age you have to sort the dictionary according to age basisin decending order take min 3 names and ages

In [11]:

people = {
    "Rahul": 22,
    "Anita": 25,
    "Suresh": 20
}
sorted_people = dict(sorted(people.items(), key=lambda x: x[1], reverse=True))
print(sorted_people)

{'Anita': 25, 'Rahul': 22, 'Suresh': 20}

#### take input str from user Ask user, "which charector you want to replace." Which value it should be replaced with print the final relaced string
sample input and output are 
i/p = "abcgfew"
o/p = "abxgfew"

In [12]:
s = input("Enter the string: ")
b = input("Enter old char to replace: ")
c = input("Enter new cha to replace:")
re = s.replace(b,c)
print(re)

bant

#### take i/p from the user and print all the repeated values in the o/p

In [18]:
s = input("Enter a string: ")
re = []
for ch in s:
    if s.count(ch) > 1 and ch not in re:
        re.append(ch)

print("Repeated characters:", re)

Repeated characters: ['r', 'd', 'f']

#### i have a string i want to find char of user i/p or within the first 5 char i have to find char if it is present print true not present print false
i/p: 'This is something you should not tale car of"
charecter to find: "h"
limit within the string (sub-sttring) = 5
o/p: True/False

In [19]:
s = input("Enter a string: ")
a = s[0:6]
b = input()
if b in a:
    print(True)
else:
    print(False)

False

In [2]:
my_str = "Hello 23"
print(my_str.istitle())
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('K'))
print(my_str.startswith('H'))

True
False
False
False
False
False
False
False
True

In [3]:
li = ["maths","chem","phy","bio","social",100,300,454,316]
li.insert(2,"zoolgy")
li

['maths', 'chem', 'zoolgy', 'phy', 'bio', 'social', 100, 300, 454, 316]

In [4]:
#Extend method in list
lst = [1,2,3,5,6,7,8]
lst.extend([10,12])
lst

[1, 2, 3, 5, 6, 7, 8, 10, 12]

In [5]:
#Extend method in list
lst = [1,2,3,5,6,7,8]
lst.append([10,12])
lst

[1, 2, 3, 5, 6, 7, 8, [10, 12]]

In [6]:
#pop method
lst.pop()
lst

[1, 2, 3, 5, 6, 7, 8]

In [7]:
lst.pop(2)

3

In [11]:
#count(:calculates total occurence of given element of list)
lst=[1,2,3,4,1,4]
print(lst.count(1))
print(len(lst))

2
6

In [12]:
lst.index(1,1)

4

# sets
<br>
*A set is am unorderd collection data type that is iterable, mutable, and has no duplicate elements.Py set class represents the mathematical notation of a set

In [15]:
set_var = {1,2,3,4,5}
set2 = {"thor","loki","hulk","spiderman"}
print(set2)
print(set_var)
type(set_var)

{'loki', 'thor', 'spiderman', 'hulk'}
{1, 2, 3, 4, 5}

set

In [17]:
set2.add("Cap")
set2

{'Cap', 'Hulk', 'hulk', 'loki', 'spiderman', 'thor'}

In [18]:
set2.intersection_update(set_var)

In [21]:
s1 = {"Avengers","Ironman","Hulk"}
s2 = {"Avengers","Ironman","Hulk","Speed","Woderwomwn"}
s2.intersection_update(s1)
s2

{'Avengers', 'Hulk', 'Ironman'}

In [22]:
s2.difference(s1)

set()

In [23]:
s2

{'Avengers', 'Hulk', 'Ironman'}

In [ ]:
s2.difference_update(s1)

set()

# Nested Dictionary

In [27]:
car1 = {"Mercedes": 1960}
car2 = {"Audi": 1970}
car3 = {"Lamborgini":1980}
car_type = {'car1':car1,'car2': car2,'car3':car3}
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Lamborgini': 1980}}

In [28]:
car_type['car1']

{'Mercedes': 1960}

In [29]:
car_type['car2']['Audi']

1970

# Tuples

In [30]:
my_tuple = ("lab","bull" ,"king","queen")
my_tuple

('lab', 'bull', 'king', 'queen')

In [31]:
type(my_tuple)

tuple

In [32]:
my_tuple.count("lab")

1

In [33]:
my_tuple.index("king")

2

In [36]:
lst1 = [1,2,3,4]
lst2 = lst1

In [37]:
lst2[1] = 1000
lst2

[1, 1000, 3, 4]

## shallow copy

In [38]:
lst1 = [1,2,3,4]
lst2 = lst1.copy()
lst2[1]  = 1000

In [39]:
lst2,lst1

([1, 1000, 3, 4], [1, 2, 3, 4])

### shallow copy nested list

In [40]:
lst1 = [[1,2,3,4],[5,6,7,8]]
lst2 = lst1.copy()

In [41]:
lst1[1][0]

5

# deep copy

In [42]:
import copy
lst1 = [1,2,3,4]
lst2 = copy.deepcopy(lst1)

In [43]:
lst2[1] = 100

In [44]:
lst2

[1, 100, 3, 4]